In [15]:
import pandas as pd
df = pd.read_csv(r"C:\Users\tania\Desktop\empdata.csv")
df

,Emp ID,Last Name,First Name,Dept,E-mail,Phone Ext,Location,Hire Date,Age
0,1814,Al-Sabah,Daoud,HR,daouda,103,Building 3,04-Mar-89,30.0
1,1721,Alstain,Isolde,HR,isoldea,102,Building 3,06-Aug-90,35.0
2,1999,Atherly,Katherine,HR,kathya,428,Building 3,05-Jul-98,50.0
3,1196,Atherton,Katie,HR,katiea,289,Building 3,01-Apr-98,NaN
4,1906,Bankler,Rowena,SA,rowenab,155,Building 3,28-Sep-89,40.0
5,1792,Barton,Eileen,AT,eileenb,111,Building 1,24-Dec-90,NaN
6,1516,Bell,Tom,AC,tomb,105,Building 2,06-Mar-85,34.0
7,1284,Bellwood,Frank,MK,frankb,124,Building 1,04-Jan-85,45.0
8,1982,Berwick,Elaine,SA,eberwick,202,Building 3,03-Apr-97,34.0
9,1167,Berwick,Sam,SA,samb,119,Building 3,18-Apr-91,54.0
10,1673,Boughton,Frank,AD,fboughton,112,Building 2,25-Mar-92,55.0
11,1758,Brwyne,Melia,AC,meliab,107,Building 2,18-Mar-82,NaN
12,1990,Chang,Jessica,MF,jessc,198,Building 1,14-Feb-98,46.0
13,1290,Cooper,Linda,AD,lindac,113,Building 2,03-Jan-85,32.0
14,1966,Cortlandt,Charles,SA,charlesc,159,Building 3,13-Apr-82,33.0
15,1983,Corwick,Judy,AT,judyc,154,Building 1,28-Jun-97,48.0
16,1964,Corwick,Rob,AC,robertc,108,Building 2,17-Nov-91,55.0
17,1293,Cronwith,Brent,HR,brentc,205,Building 3,14-Sep-84,NaN
18,1672,Dixon-Waite,Sherrie,MF,sherried,114,Building 1,16-Apr-90,57.0
19,1960,Fontaine,Jean,MF,jeanf,150,Building 1,13-Nov-86,44.0
20,1975,Franklin,Larry,AC,larryf,125,Building 2,01-Mar-96,32.0
21,1056,Gonzales,Joe,AT,joeg,121,Building 1,25-Oct-79,29.0
22,1078,Hapsbuch,Kendrick,AC,kendrickh,101,Building 2,01-Apr-86,28.0
23,1152,Henders,Mark,AD,markh,118,Building 2,21-Jan-90,NaN
24,1075,Kane,Sheryl,AD,sherylk,126,Building 2,07-Aug-92,57.0
25,1509,Kegler,Pam,AT,pamk,135,Building 1,19-Jun-85,40.0
26,1529,Kellerman,Tommie,MK,tomk,129,Building 1,28-Jan-87,39.0
27,1656,Kourios,Theo,MF,theok,149,Building 1,14-Dec-87,29.0
28,1426,Lampstone,Pete,SA,petel,128,Building 3,08-Sep-77,53.0
29,1984,MacDonald,Bronwyn,SA,bronm,204,Building 3,01-Dec-97,31.0
30,1676,Miller,Janet,MK,janetm,115,Building 1,26-Oct-81,NaN
31,1995,Mivelli,Maria,AT,mariam,198,Building 1,01-Mar-98,NaN
32,1359,Morton,Norman,SA,normanm,153,Building 3,09-Aug-90,28.0
33,1931,Mueller,Ursula,AC,ursulam,110,Building 2,20-Jun-89,34.0
34,1723,Sammler,Mark,MK,marks,145,Building 1,10-Feb-78,36.0
35,1949,Sampson,Carla,SA,carlas,147,Building 3,12-Oct-81,45.0
36,1067,Scote,Gail,AT,gails,123,Building 1,20-Sep-87,56.0
37,1299,Simpson,Sandrae,MF,sandraes,127,Building 1,21-Dec-89,58.0
38,1302,Sindole,Randy,MK,randys,139,Building 1,06-Aug-84,53.0
39,1922,Smith,Barbara,SA,barbaras,146,Building 3,05-Dec-86,26.0
40,1310,Smith,Ellen,MF,ellens,137,Building 1,04-Oct-86,NaN
41,9999,Smith,Hazel,SA,hazelg,109,Building 3,03-Feb-86,33.0
42,1054,Smith,Howard,AT,howards,148,Building 1,16-Apr-91,44.0
43,1333,Szcznyck,Tadeuz,HR,tadeuzs,122,Building 3,16-Apr-90,55.0
44,1572,Tuppman,Lise-Anne,SA,lise-annt,116,Building 3,15-Jul-88,60.0
45,1329,Vuanuo,Tuome,AC,tuomev,151,Building 2,22-Feb-89,59.0
46,1368,Wu,Tammy,AD,tammyw,132,Building 2,11-Mar-83,44.0
47,1352,Ygarre,Lisa,SA,lisay,100,Building 3,18-Sep-82,33.0
48,1908,Zostoc,Melissa,AT,melissaz,152,Building 1,15-May-84,22.0
49,1290,Cooper,Linda,AD,lindac,113,Building 2,03-Jan-85,NaN
50,1078,Hapsbuch,Kendrick,AC,kendrickh,101,Building 2,01-Apr-86,66.0
51,1426,Lampstone,Pete,SA,petel,128,Building 3,08-Sep-77,22.0
52,1949,Sampson,Carla,SA,carlas,147,Building 3,12-Oct-81,33.0

In [16]:
df.shape

(53, 9)

In [17]:
df.isnull()

,Emp ID,Last Name,First Name,Dept,E-mail,Phone Ext,Location,Hire Date,Age
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,True
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,True
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,True
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,True
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,True
31,False,False,False,False,False,False,False,False,True
32,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,True
41,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False,False,True
50,False,False,False,False,False,False,False,False,False
51,False,False,False,False,False,False,False,False,False
52,False,False,False,False,False,False,False,False,False

In [18]:
df.isnull().sum()

Emp ID        0
Last Name     0
First Name    0
Dept          0
E-mail        0
Phone Ext     0
Location      0
Hire Date     0
Age           9
dtype: int64

In [19]:
df.isnull().sum().sum()

9

In [20]:
#Dropping the rows with null values

df2 = df.dropna()
df2

,Emp ID,Last Name,First Name,Dept,E-mail,Phone Ext,Location,Hire Date,Age
0,1814,Al-Sabah,Daoud,HR,daouda,103,Building 3,04-Mar-89,30.0
1,1721,Alstain,Isolde,HR,isoldea,102,Building 3,06-Aug-90,35.0
2,1999,Atherly,Katherine,HR,kathya,428,Building 3,05-Jul-98,50.0
4,1906,Bankler,Rowena,SA,rowenab,155,Building 3,28-Sep-89,40.0
6,1516,Bell,Tom,AC,tomb,105,Building 2,06-Mar-85,34.0
7,1284,Bellwood,Frank,MK,frankb,124,Building 1,04-Jan-85,45.0
8,1982,Berwick,Elaine,SA,eberwick,202,Building 3,03-Apr-97,34.0
9,1167,Berwick,Sam,SA,samb,119,Building 3,18-Apr-91,54.0
10,1673,Boughton,Frank,AD,fboughton,112,Building 2,25-Mar-92,55.0
12,1990,Chang,Jessica,MF,jessc,198,Building 1,14-Feb-98,46.0
13,1290,Cooper,Linda,AD,lindac,113,Building 2,03-Jan-85,32.0
14,1966,Cortlandt,Charles,SA,charlesc,159,Building 3,13-Apr-82,33.0
15,1983,Corwick,Judy,AT,judyc,154,Building 1,28-Jun-97,48.0
16,1964,Corwick,Rob,AC,robertc,108,Building 2,17-Nov-91,55.0
18,1672,Dixon-Waite,Sherrie,MF,sherried,114,Building 1,16-Apr-90,57.0
19,1960,Fontaine,Jean,MF,jeanf,150,Building 1,13-Nov-86,44.0
20,1975,Franklin,Larry,AC,larryf,125,Building 2,01-Mar-96,32.0
21,1056,Gonzales,Joe,AT,joeg,121,Building 1,25-Oct-79,29.0
22,1078,Hapsbuch,Kendrick,AC,kendrickh,101,Building 2,01-Apr-86,28.0
24,1075,Kane,Sheryl,AD,sherylk,126,Building 2,07-Aug-92,57.0
25,1509,Kegler,Pam,AT,pamk,135,Building 1,19-Jun-85,40.0
26,1529,Kellerman,Tommie,MK,tomk,129,Building 1,28-Jan-87,39.0
27,1656,Kourios,Theo,MF,theok,149,Building 1,14-Dec-87,29.0
28,1426,Lampstone,Pete,SA,petel,128,Building 3,08-Sep-77,53.0
29,1984,MacDonald,Bronwyn,SA,bronm,204,Building 3,01-Dec-97,31.0
32,1359,Morton,Norman,SA,normanm,153,Building 3,09-Aug-90,28.0
33,1931,Mueller,Ursula,AC,ursulam,110,Building 2,20-Jun-89,34.0
34,1723,Sammler,Mark,MK,marks,145,Building 1,10-Feb-78,36.0
35,1949,Sampson,Carla,SA,carlas,147,Building 3,12-Oct-81,45.0
36,1067,Scote,Gail,AT,gails,123,Building 1,20-Sep-87,56.0
37,1299,Simpson,Sandrae,MF,sandraes,127,Building 1,21-Dec-89,58.0
38,1302,Sindole,Randy,MK,randys,139,Building 1,06-Aug-84,53.0
39,1922,Smith,Barbara,SA,barbaras,146,Building 3,05-Dec-86,26.0
41,9999,Smith,Hazel,SA,hazelg,109,Building 3,03-Feb-86,33.0
42,1054,Smith,Howard,AT,howards,148,Building 1,16-Apr-91,44.0
43,1333,Szcznyck,Tadeuz,HR,tadeuzs,122,Building 3,16-Apr-90,55.0
44,1572,Tuppman,Lise-Anne,SA,lise-annt,116,Building 3,15-Jul-88,60.0
45,1329,Vuanuo,Tuome,AC,tuomev,151,Building 2,22-Feb-89,59.0
46,1368,Wu,Tammy,AD,tammyw,132,Building 2,11-Mar-83,44.0
47,1352,Ygarre,Lisa,SA,lisay,100,Building 3,18-Sep-82,33.0
48,1908,Zostoc,Melissa,AT,melissaz,152,Building 1,15-May-84,22.0
50,1078,Hapsbuch,Kendrick,AC,kendrickh,101,Building 2,01-Apr-86,66.0
51,1426,Lampstone,Pete,SA,petel,128,Building 3,08-Sep-77,22.0
52,1949,Sampson,Carla,SA,carlas,147,Building 3,12-Oct-81,33.0

In [21]:
df

,Emp ID,Last Name,First Name,Dept,E-mail,Phone Ext,Location,Hire Date,Age
0,1814,Al-Sabah,Daoud,HR,daouda,103,Building 3,04-Mar-89,30.0
1,1721,Alstain,Isolde,HR,isoldea,102,Building 3,06-Aug-90,35.0
2,1999,Atherly,Katherine,HR,kathya,428,Building 3,05-Jul-98,50.0
3,1196,Atherton,Katie,HR,katiea,289,Building 3,01-Apr-98,NaN
4,1906,Bankler,Rowena,SA,rowenab,155,Building 3,28-Sep-89,40.0
5,1792,Barton,Eileen,AT,eileenb,111,Building 1,24-Dec-90,NaN
6,1516,Bell,Tom,AC,tomb,105,Building 2,06-Mar-85,34.0
7,1284,Bellwood,Frank,MK,frankb,124,Building 1,04-Jan-85,45.0
8,1982,Berwick,Elaine,SA,eberwick,202,Building 3,03-Apr-97,34.0
9,1167,Berwick,Sam,SA,samb,119,Building 3,18-Apr-91,54.0
10,1673,Boughton,Frank,AD,fboughton,112,Building 2,25-Mar-92,55.0
11,1758,Brwyne,Melia,AC,meliab,107,Building 2,18-Mar-82,NaN
12,1990,Chang,Jessica,MF,jessc,198,Building 1,14-Feb-98,46.0
13,1290,Cooper,Linda,AD,lindac,113,Building 2,03-Jan-85,32.0
14,1966,Cortlandt,Charles,SA,charlesc,159,Building 3,13-Apr-82,33.0
15,1983,Corwick,Judy,AT,judyc,154,Building 1,28-Jun-97,48.0
16,1964,Corwick,Rob,AC,robertc,108,Building 2,17-Nov-91,55.0
17,1293,Cronwith,Brent,HR,brentc,205,Building 3,14-Sep-84,NaN
18,1672,Dixon-Waite,Sherrie,MF,sherried,114,Building 1,16-Apr-90,57.0
19,1960,Fontaine,Jean,MF,jeanf,150,Building 1,13-Nov-86,44.0
20,1975,Franklin,Larry,AC,larryf,125,Building 2,01-Mar-96,32.0
21,1056,Gonzales,Joe,AT,joeg,121,Building 1,25-Oct-79,29.0
22,1078,Hapsbuch,Kendrick,AC,kendrickh,101,Building 2,01-Apr-86,28.0
23,1152,Henders,Mark,AD,markh,118,Building 2,21-Jan-90,NaN
24,1075,Kane,Sheryl,AD,sherylk,126,Building 2,07-Aug-92,57.0
25,1509,Kegler,Pam,AT,pamk,135,Building 1,19-Jun-85,40.0
26,1529,Kellerman,Tommie,MK,tomk,129,Building 1,28-Jan-87,39.0
27,1656,Kourios,Theo,MF,theok,149,Building 1,14-Dec-87,29.0
28,1426,Lampstone,Pete,SA,petel,128,Building 3,08-Sep-77,53.0
29,1984,MacDonald,Bronwyn,SA,bronm,204,Building 3,01-Dec-97,31.0
30,1676,Miller,Janet,MK,janetm,115,Building 1,26-Oct-81,NaN
31,1995,Mivelli,Maria,AT,mariam,198,Building 1,01-Mar-98,NaN
32,1359,Morton,Norman,SA,normanm,153,Building 3,09-Aug-90,28.0
33,1931,Mueller,Ursula,AC,ursulam,110,Building 2,20-Jun-89,34.0
34,1723,Sammler,Mark,MK,marks,145,Building 1,10-Feb-78,36.0
35,1949,Sampson,Carla,SA,carlas,147,Building 3,12-Oct-81,45.0
36,1067,Scote,Gail,AT,gails,123,Building 1,20-Sep-87,56.0
37,1299,Simpson,Sandrae,MF,sandraes,127,Building 1,21-Dec-89,58.0
38,1302,Sindole,Randy,MK,randys,139,Building 1,06-Aug-84,53.0
39,1922,Smith,Barbara,SA,barbaras,146,Building 3,05-Dec-86,26.0
40,1310,Smith,Ellen,MF,ellens,137,Building 1,04-Oct-86,NaN
41,9999,Smith,Hazel,SA,hazelg,109,Building 3,03-Feb-86,33.0
42,1054,Smith,Howard,AT,howards,148,Building 1,16-Apr-91,44.0
43,1333,Szcznyck,Tadeuz,HR,tadeuzs,122,Building 3,16-Apr-90,55.0
44,1572,Tuppman,Lise-Anne,SA,lise-annt,116,Building 3,15-Jul-88,60.0
45,1329,Vuanuo,Tuome,AC,tuomev,151,Building 2,22-Feb-89,59.0
46,1368,Wu,Tammy,AD,tammyw,132,Building 2,11-Mar-83,44.0
47,1352,Ygarre,Lisa,SA,lisay,100,Building 3,18-Sep-82,33.0
48,1908,Zostoc,Melissa,AT,melissaz,152,Building 1,15-May-84,22.0
49,1290,Cooper,Linda,AD,lindac,113,Building 2,03-Jan-85,NaN
50,1078,Hapsbuch,Kendrick,AC,kendrickh,101,Building 2,01-Apr-86,66.0
51,1426,Lampstone,Pete,SA,petel,128,Building 3,08-Sep-77,22.0
52,1949,Sampson,Carla,SA,carlas,147,Building 3,12-Oct-81,33.0

In [22]:
# filling Null value with median of the column age
df3 = df.fillna(value=df['Age'].median())
df3

,Emp ID,Last Name,First Name,Dept,E-mail,Phone Ext,Location,Hire Date,Age
0,1814,Al-Sabah,Daoud,HR,daouda,103,Building 3,04-Mar-89,30.0
1,1721,Alstain,Isolde,HR,isoldea,102,Building 3,06-Aug-90,35.0
2,1999,Atherly,Katherine,HR,kathya,428,Building 3,05-Jul-98,50.0
3,1196,Atherton,Katie,HR,katiea,289,Building 3,01-Apr-98,40.0
4,1906,Bankler,Rowena,SA,rowenab,155,Building 3,28-Sep-89,40.0
5,1792,Barton,Eileen,AT,eileenb,111,Building 1,24-Dec-90,40.0
6,1516,Bell,Tom,AC,tomb,105,Building 2,06-Mar-85,34.0
7,1284,Bellwood,Frank,MK,frankb,124,Building 1,04-Jan-85,45.0
8,1982,Berwick,Elaine,SA,eberwick,202,Building 3,03-Apr-97,34.0
9,1167,Berwick,Sam,SA,samb,119,Building 3,18-Apr-91,54.0
10,1673,Boughton,Frank,AD,fboughton,112,Building 2,25-Mar-92,55.0
11,1758,Brwyne,Melia,AC,meliab,107,Building 2,18-Mar-82,40.0
12,1990,Chang,Jessica,MF,jessc,198,Building 1,14-Feb-98,46.0
13,1290,Cooper,Linda,AD,lindac,113,Building 2,03-Jan-85,32.0
14,1966,Cortlandt,Charles,SA,charlesc,159,Building 3,13-Apr-82,33.0
15,1983,Corwick,Judy,AT,judyc,154,Building 1,28-Jun-97,48.0
16,1964,Corwick,Rob,AC,robertc,108,Building 2,17-Nov-91,55.0
17,1293,Cronwith,Brent,HR,brentc,205,Building 3,14-Sep-84,40.0
18,1672,Dixon-Waite,Sherrie,MF,sherried,114,Building 1,16-Apr-90,57.0
19,1960,Fontaine,Jean,MF,jeanf,150,Building 1,13-Nov-86,44.0
20,1975,Franklin,Larry,AC,larryf,125,Building 2,01-Mar-96,32.0
21,1056,Gonzales,Joe,AT,joeg,121,Building 1,25-Oct-79,29.0
22,1078,Hapsbuch,Kendrick,AC,kendrickh,101,Building 2,01-Apr-86,28.0
23,1152,Henders,Mark,AD,markh,118,Building 2,21-Jan-90,40.0
24,1075,Kane,Sheryl,AD,sherylk,126,Building 2,07-Aug-92,57.0
25,1509,Kegler,Pam,AT,pamk,135,Building 1,19-Jun-85,40.0
26,1529,Kellerman,Tommie,MK,tomk,129,Building 1,28-Jan-87,39.0
27,1656,Kourios,Theo,MF,theok,149,Building 1,14-Dec-87,29.0
28,1426,Lampstone,Pete,SA,petel,128,Building 3,08-Sep-77,53.0
29,1984,MacDonald,Bronwyn,SA,bronm,204,Building 3,01-Dec-97,31.0
30,1676,Miller,Janet,MK,janetm,115,Building 1,26-Oct-81,40.0
31,1995,Mivelli,Maria,AT,mariam,198,Building 1,01-Mar-98,40.0
32,1359,Morton,Norman,SA,normanm,153,Building 3,09-Aug-90,28.0
33,1931,Mueller,Ursula,AC,ursulam,110,Building 2,20-Jun-89,34.0
34,1723,Sammler,Mark,MK,marks,145,Building 1,10-Feb-78,36.0
35,1949,Sampson,Carla,SA,carlas,147,Building 3,12-Oct-81,45.0
36,1067,Scote,Gail,AT,gails,123,Building 1,20-Sep-87,56.0
37,1299,Simpson,Sandrae,MF,sandraes,127,Building 1,21-Dec-89,58.0
38,1302,Sindole,Randy,MK,randys,139,Building 1,06-Aug-84,53.0
39,1922,Smith,Barbara,SA,barbaras,146,Building 3,05-Dec-86,26.0
40,1310,Smith,Ellen,MF,ellens,137,Building 1,04-Oct-86,40.0
41,9999,Smith,Hazel,SA,hazelg,109,Building 3,03-Feb-86,33.0
42,1054,Smith,Howard,AT,howards,148,Building 1,16-Apr-91,44.0
43,1333,Szcznyck,Tadeuz,HR,tadeuzs,122,Building 3,16-Apr-90,55.0
44,1572,Tuppman,Lise-Anne,SA,lise-annt,116,Building 3,15-Jul-88,60.0
45,1329,Vuanuo,Tuome,AC,tuomev,151,Building 2,22-Feb-89,59.0
46,1368,Wu,Tammy,AD,tammyw,132,Building 2,11-Mar-83,44.0
47,1352,Ygarre,Lisa,SA,lisay,100,Building 3,18-Sep-82,33.0
48,1908,Zostoc,Melissa,AT,melissaz,152,Building 1,15-May-84,22.0
49,1290,Cooper,Linda,AD,lindac,113,Building 2,03-Jan-85,40.0
50,1078,Hapsbuch,Kendrick,AC,kendrickh,101,Building 2,01-Apr-86,66.0
51,1426,Lampstone,Pete,SA,petel,128,Building 3,08-Sep-77,22.0
52,1949,Sampson,Carla,SA,carlas,147,Building 3,12-Oct-81,33.0

In [23]:
df3.isnull().sum()

Emp ID        0
Last Name     0
First Name    0
Dept          0
E-mail        0
Phone Ext     0
Location      0
Hire Date     0
Age           0
dtype: int64

In [24]:
#Filling Null value with max value

df4 = df.fillna(value=df['Age'].max())
df4

,Emp ID,Last Name,First Name,Dept,E-mail,Phone Ext,Location,Hire Date,Age
0,1814,Al-Sabah,Daoud,HR,daouda,103,Building 3,04-Mar-89,30.0
1,1721,Alstain,Isolde,HR,isoldea,102,Building 3,06-Aug-90,35.0
2,1999,Atherly,Katherine,HR,kathya,428,Building 3,05-Jul-98,50.0
3,1196,Atherton,Katie,HR,katiea,289,Building 3,01-Apr-98,66.0
4,1906,Bankler,Rowena,SA,rowenab,155,Building 3,28-Sep-89,40.0
5,1792,Barton,Eileen,AT,eileenb,111,Building 1,24-Dec-90,66.0
6,1516,Bell,Tom,AC,tomb,105,Building 2,06-Mar-85,34.0
7,1284,Bellwood,Frank,MK,frankb,124,Building 1,04-Jan-85,45.0
8,1982,Berwick,Elaine,SA,eberwick,202,Building 3,03-Apr-97,34.0
9,1167,Berwick,Sam,SA,samb,119,Building 3,18-Apr-91,54.0
10,1673,Boughton,Frank,AD,fboughton,112,Building 2,25-Mar-92,55.0
11,1758,Brwyne,Melia,AC,meliab,107,Building 2,18-Mar-82,66.0
12,1990,Chang,Jessica,MF,jessc,198,Building 1,14-Feb-98,46.0
13,1290,Cooper,Linda,AD,lindac,113,Building 2,03-Jan-85,32.0
14,1966,Cortlandt,Charles,SA,charlesc,159,Building 3,13-Apr-82,33.0
15,1983,Corwick,Judy,AT,judyc,154,Building 1,28-Jun-97,48.0
16,1964,Corwick,Rob,AC,robertc,108,Building 2,17-Nov-91,55.0
17,1293,Cronwith,Brent,HR,brentc,205,Building 3,14-Sep-84,66.0
18,1672,Dixon-Waite,Sherrie,MF,sherried,114,Building 1,16-Apr-90,57.0
19,1960,Fontaine,Jean,MF,jeanf,150,Building 1,13-Nov-86,44.0
20,1975,Franklin,Larry,AC,larryf,125,Building 2,01-Mar-96,32.0
21,1056,Gonzales,Joe,AT,joeg,121,Building 1,25-Oct-79,29.0
22,1078,Hapsbuch,Kendrick,AC,kendrickh,101,Building 2,01-Apr-86,28.0
23,1152,Henders,Mark,AD,markh,118,Building 2,21-Jan-90,66.0
24,1075,Kane,Sheryl,AD,sherylk,126,Building 2,07-Aug-92,57.0
25,1509,Kegler,Pam,AT,pamk,135,Building 1,19-Jun-85,40.0
26,1529,Kellerman,Tommie,MK,tomk,129,Building 1,28-Jan-87,39.0
27,1656,Kourios,Theo,MF,theok,149,Building 1,14-Dec-87,29.0
28,1426,Lampstone,Pete,SA,petel,128,Building 3,08-Sep-77,53.0
29,1984,MacDonald,Bronwyn,SA,bronm,204,Building 3,01-Dec-97,31.0
30,1676,Miller,Janet,MK,janetm,115,Building 1,26-Oct-81,66.0
31,1995,Mivelli,Maria,AT,mariam,198,Building 1,01-Mar-98,66.0
32,1359,Morton,Norman,SA,normanm,153,Building 3,09-Aug-90,28.0
33,1931,Mueller,Ursula,AC,ursulam,110,Building 2,20-Jun-89,34.0
34,1723,Sammler,Mark,MK,marks,145,Building 1,10-Feb-78,36.0
35,1949,Sampson,Carla,SA,carlas,147,Building 3,12-Oct-81,45.0
36,1067,Scote,Gail,AT,gails,123,Building 1,20-Sep-87,56.0
37,1299,Simpson,Sandrae,MF,sandraes,127,Building 1,21-Dec-89,58.0
38,1302,Sindole,Randy,MK,randys,139,Building 1,06-Aug-84,53.0
39,1922,Smith,Barbara,SA,barbaras,146,Building 3,05-Dec-86,26.0
40,1310,Smith,Ellen,MF,ellens,137,Building 1,04-Oct-86,66.0
41,9999,Smith,Hazel,SA,hazelg,109,Building 3,03-Feb-86,33.0
42,1054,Smith,Howard,AT,howards,148,Building 1,16-Apr-91,44.0
43,1333,Szcznyck,Tadeuz,HR,tadeuzs,122,Building 3,16-Apr-90,55.0
44,1572,Tuppman,Lise-Anne,SA,lise-annt,116,Building 3,15-Jul-88,60.0
45,1329,Vuanuo,Tuome,AC,tuomev,151,Building 2,22-Feb-89,59.0
46,1368,Wu,Tammy,AD,tammyw,132,Building 2,11-Mar-83,44.0
47,1352,Ygarre,Lisa,SA,lisay,100,Building 3,18-Sep-82,33.0
48,1908,Zostoc,Melissa,AT,melissaz,152,Building 1,15-May-84,22.0
49,1290,Cooper,Linda,AD,lindac,113,Building 2,03-Jan-85,66.0
50,1078,Hapsbuch,Kendrick,AC,kendrickh,101,Building 2,01-Apr-86,66.0
51,1426,Lampstone,Pete,SA,petel,128,Building 3,08-Sep-77,22.0
52,1949,Sampson,Carla,SA,carlas,147,Building 3,12-Oct-81,33.0

In [25]:
df4.isnull().sum().sum()

0

In [26]:
#Filling Null value with pad value

df5 = df.fillna(method = 'pad')
df5

,Emp ID,Last Name,First Name,Dept,E-mail,Phone Ext,Location,Hire Date,Age
0,1814,Al-Sabah,Daoud,HR,daouda,103,Building 3,04-Mar-89,30.0
1,1721,Alstain,Isolde,HR,isoldea,102,Building 3,06-Aug-90,35.0
2,1999,Atherly,Katherine,HR,kathya,428,Building 3,05-Jul-98,50.0
3,1196,Atherton,Katie,HR,katiea,289,Building 3,01-Apr-98,50.0
4,1906,Bankler,Rowena,SA,rowenab,155,Building 3,28-Sep-89,40.0
5,1792,Barton,Eileen,AT,eileenb,111,Building 1,24-Dec-90,40.0
6,1516,Bell,Tom,AC,tomb,105,Building 2,06-Mar-85,34.0
7,1284,Bellwood,Frank,MK,frankb,124,Building 1,04-Jan-85,45.0
8,1982,Berwick,Elaine,SA,eberwick,202,Building 3,03-Apr-97,34.0
9,1167,Berwick,Sam,SA,samb,119,Building 3,18-Apr-91,54.0
10,1673,Boughton,Frank,AD,fboughton,112,Building 2,25-Mar-92,55.0
11,1758,Brwyne,Melia,AC,meliab,107,Building 2,18-Mar-82,55.0
12,1990,Chang,Jessica,MF,jessc,198,Building 1,14-Feb-98,46.0
13,1290,Cooper,Linda,AD,lindac,113,Building 2,03-Jan-85,32.0
14,1966,Cortlandt,Charles,SA,charlesc,159,Building 3,13-Apr-82,33.0
15,1983,Corwick,Judy,AT,judyc,154,Building 1,28-Jun-97,48.0
16,1964,Corwick,Rob,AC,robertc,108,Building 2,17-Nov-91,55.0
17,1293,Cronwith,Brent,HR,brentc,205,Building 3,14-Sep-84,55.0
18,1672,Dixon-Waite,Sherrie,MF,sherried,114,Building 1,16-Apr-90,57.0
19,1960,Fontaine,Jean,MF,jeanf,150,Building 1,13-Nov-86,44.0
20,1975,Franklin,Larry,AC,larryf,125,Building 2,01-Mar-96,32.0
21,1056,Gonzales,Joe,AT,joeg,121,Building 1,25-Oct-79,29.0
22,1078,Hapsbuch,Kendrick,AC,kendrickh,101,Building 2,01-Apr-86,28.0
23,1152,Henders,Mark,AD,markh,118,Building 2,21-Jan-90,28.0
24,1075,Kane,Sheryl,AD,sherylk,126,Building 2,07-Aug-92,57.0
25,1509,Kegler,Pam,AT,pamk,135,Building 1,19-Jun-85,40.0
26,1529,Kellerman,Tommie,MK,tomk,129,Building 1,28-Jan-87,39.0
27,1656,Kourios,Theo,MF,theok,149,Building 1,14-Dec-87,29.0
28,1426,Lampstone,Pete,SA,petel,128,Building 3,08-Sep-77,53.0
29,1984,MacDonald,Bronwyn,SA,bronm,204,Building 3,01-Dec-97,31.0
30,1676,Miller,Janet,MK,janetm,115,Building 1,26-Oct-81,31.0
31,1995,Mivelli,Maria,AT,mariam,198,Building 1,01-Mar-98,31.0
32,1359,Morton,Norman,SA,normanm,153,Building 3,09-Aug-90,28.0
33,1931,Mueller,Ursula,AC,ursulam,110,Building 2,20-Jun-89,34.0
34,1723,Sammler,Mark,MK,marks,145,Building 1,10-Feb-78,36.0
35,1949,Sampson,Carla,SA,carlas,147,Building 3,12-Oct-81,45.0
36,1067,Scote,Gail,AT,gails,123,Building 1,20-Sep-87,56.0
37,1299,Simpson,Sandrae,MF,sandraes,127,Building 1,21-Dec-89,58.0
38,1302,Sindole,Randy,MK,randys,139,Building 1,06-Aug-84,53.0
39,1922,Smith,Barbara,SA,barbaras,146,Building 3,05-Dec-86,26.0
40,1310,Smith,Ellen,MF,ellens,137,Building 1,04-Oct-86,26.0
41,9999,Smith,Hazel,SA,hazelg,109,Building 3,03-Feb-86,33.0
42,1054,Smith,Howard,AT,howards,148,Building 1,16-Apr-91,44.0
43,1333,Szcznyck,Tadeuz,HR,tadeuzs,122,Building 3,16-Apr-90,55.0
44,1572,Tuppman,Lise-Anne,SA,lise-annt,116,Building 3,15-Jul-88,60.0
45,1329,Vuanuo,Tuome,AC,tuomev,151,Building 2,22-Feb-89,59.0
46,1368,Wu,Tammy,AD,tammyw,132,Building 2,11-Mar-83,44.0
47,1352,Ygarre,Lisa,SA,lisay,100,Building 3,18-Sep-82,33.0
48,1908,Zostoc,Melissa,AT,melissaz,152,Building 1,15-May-84,22.0
49,1290,Cooper,Linda,AD,lindac,113,Building 2,03-Jan-85,22.0
50,1078,Hapsbuch,Kendrick,AC,kendrickh,101,Building 2,01-Apr-86,66.0
51,1426,Lampstone,Pete,SA,petel,128,Building 3,08-Sep-77,22.0
52,1949,Sampson,Carla,SA,carlas,147,Building 3,12-Oct-81,33.0

In [27]:
#Filling Null value with next value

df6 = df.fillna(method = 'bfill')
df6

,Emp ID,Last Name,First Name,Dept,E-mail,Phone Ext,Location,Hire Date,Age
0,1814,Al-Sabah,Daoud,HR,daouda,103,Building 3,04-Mar-89,30.0
1,1721,Alstain,Isolde,HR,isoldea,102,Building 3,06-Aug-90,35.0
2,1999,Atherly,Katherine,HR,kathya,428,Building 3,05-Jul-98,50.0
3,1196,Atherton,Katie,HR,katiea,289,Building 3,01-Apr-98,40.0
4,1906,Bankler,Rowena,SA,rowenab,155,Building 3,28-Sep-89,40.0
5,1792,Barton,Eileen,AT,eileenb,111,Building 1,24-Dec-90,34.0
6,1516,Bell,Tom,AC,tomb,105,Building 2,06-Mar-85,34.0
7,1284,Bellwood,Frank,MK,frankb,124,Building 1,04-Jan-85,45.0
8,1982,Berwick,Elaine,SA,eberwick,202,Building 3,03-Apr-97,34.0
9,1167,Berwick,Sam,SA,samb,119,Building 3,18-Apr-91,54.0
10,1673,Boughton,Frank,AD,fboughton,112,Building 2,25-Mar-92,55.0
11,1758,Brwyne,Melia,AC,meliab,107,Building 2,18-Mar-82,46.0
12,1990,Chang,Jessica,MF,jessc,198,Building 1,14-Feb-98,46.0
13,1290,Cooper,Linda,AD,lindac,113,Building 2,03-Jan-85,32.0
14,1966,Cortlandt,Charles,SA,charlesc,159,Building 3,13-Apr-82,33.0
15,1983,Corwick,Judy,AT,judyc,154,Building 1,28-Jun-97,48.0
16,1964,Corwick,Rob,AC,robertc,108,Building 2,17-Nov-91,55.0
17,1293,Cronwith,Brent,HR,brentc,205,Building 3,14-Sep-84,57.0
18,1672,Dixon-Waite,Sherrie,MF,sherried,114,Building 1,16-Apr-90,57.0
19,1960,Fontaine,Jean,MF,jeanf,150,Building 1,13-Nov-86,44.0
20,1975,Franklin,Larry,AC,larryf,125,Building 2,01-Mar-96,32.0
21,1056,Gonzales,Joe,AT,joeg,121,Building 1,25-Oct-79,29.0
22,1078,Hapsbuch,Kendrick,AC,kendrickh,101,Building 2,01-Apr-86,28.0
23,1152,Henders,Mark,AD,markh,118,Building 2,21-Jan-90,57.0
24,1075,Kane,Sheryl,AD,sherylk,126,Building 2,07-Aug-92,57.0
25,1509,Kegler,Pam,AT,pamk,135,Building 1,19-Jun-85,40.0
26,1529,Kellerman,Tommie,MK,tomk,129,Building 1,28-Jan-87,39.0
27,1656,Kourios,Theo,MF,theok,149,Building 1,14-Dec-87,29.0
28,1426,Lampstone,Pete,SA,petel,128,Building 3,08-Sep-77,53.0
29,1984,MacDonald,Bronwyn,SA,bronm,204,Building 3,01-Dec-97,31.0
30,1676,Miller,Janet,MK,janetm,115,Building 1,26-Oct-81,28.0
31,1995,Mivelli,Maria,AT,mariam,198,Building 1,01-Mar-98,28.0
32,1359,Morton,Norman,SA,normanm,153,Building 3,09-Aug-90,28.0
33,1931,Mueller,Ursula,AC,ursulam,110,Building 2,20-Jun-89,34.0
34,1723,Sammler,Mark,MK,marks,145,Building 1,10-Feb-78,36.0
35,1949,Sampson,Carla,SA,carlas,147,Building 3,12-Oct-81,45.0
36,1067,Scote,Gail,AT,gails,123,Building 1,20-Sep-87,56.0
37,1299,Simpson,Sandrae,MF,sandraes,127,Building 1,21-Dec-89,58.0
38,1302,Sindole,Randy,MK,randys,139,Building 1,06-Aug-84,53.0
39,1922,Smith,Barbara,SA,barbaras,146,Building 3,05-Dec-86,26.0
40,1310,Smith,Ellen,MF,ellens,137,Building 1,04-Oct-86,33.0
41,9999,Smith,Hazel,SA,hazelg,109,Building 3,03-Feb-86,33.0
42,1054,Smith,Howard,AT,howards,148,Building 1,16-Apr-91,44.0
43,1333,Szcznyck,Tadeuz,HR,tadeuzs,122,Building 3,16-Apr-90,55.0
44,1572,Tuppman,Lise-Anne,SA,lise-annt,116,Building 3,15-Jul-88,60.0
45,1329,Vuanuo,Tuome,AC,tuomev,151,Building 2,22-Feb-89,59.0
46,1368,Wu,Tammy,AD,tammyw,132,Building 2,11-Mar-83,44.0
47,1352,Ygarre,Lisa,SA,lisay,100,Building 3,18-Sep-82,33.0
48,1908,Zostoc,Melissa,AT,melissaz,152,Building 1,15-May-84,22.0
49,1290,Cooper,Linda,AD,lindac,113,Building 2,03-Jan-85,66.0
50,1078,Hapsbuch,Kendrick,AC,kendrickh,101,Building 2,01-Apr-86,66.0
51,1426,Lampstone,Pete,SA,petel,128,Building 3,08-Sep-77,22.0
52,1949,Sampson,Carla,SA,carlas,147,Building 3,12-Oct-81,33.0

In [29]:
#Filling Null value with imputer function

import numpy as np
from sklearn.impute import SimpleImputer

In [43]:
s_impute=SimpleImputer(missing_values="NaN",strategy="mean",verbose=0)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Emp ID      53 non-null     int64
 1   Last Name   53 non-null     object
 2   First Name  53 non-null     object
 3   Dept        53 non-null     object
 4   E-mail      53 non-null     object
 5   Phone Ext   53 non-null     int64
 6   Location    53 non-null     object
 7   Hire Date   53 non-null     object
 8   Age         44 non-null     float64
dtypes: float64(1), int64(2), object(6)
memory usage: 3.9+ KB

In [54]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
employees_imp=pd.DataFrame(imputer.fit_transform(df['Age'].values.reshape(-1,1)))
employees_imp.isna().sum().sort_values(ascending = False)

0    0
dtype: int64

In [55]:
df.head(5)

,Emp ID,Last Name,First Name,Dept,E-mail,Phone Ext,Location,Hire Date,Age
0,1814,Al-Sabah,Daoud,HR,daouda,103,Building 3,04-Mar-89,30.0
1,1721,Alstain,Isolde,HR,isoldea,102,Building 3,06-Aug-90,35.0
2,1999,Atherly,Katherine,HR,kathya,428,Building 3,05-Jul-98,50.0
3,1196,Atherton,Katie,HR,katiea,289,Building 3,01-Apr-98,NaN
4,1906,Bankler,Rowena,SA,rowenab,155,Building 3,28-Sep-89,40.0

In [56]:
employees_imp.head()

       0
0  30.00
1  35.00
2  50.00
3  41.75
4  40.00

In [58]:
#performing one hot encoding 
print(df['Dept'].unique())

['HR' 'SA' 'AT' 'AC' 'MK' 'AD' 'MF']

In [59]:
print(df['Location'].unique())

['Building 3' 'Building 1' 'Building 2']

In [60]:

df['Location'].value_counts()

Building 3    20
Building 1    19
Building 2    14
Name: Location, dtype: int64

In [61]:
df['Dept'].value_counts()

SA    14
AC     8
AT     8
AD     6
MF     6
HR     6
MK     5
Name: Dept, dtype: int64

In [64]:
one_hot_encoded_data = pd.get_dummies(df3, columns = ['Dept', 'Location'])
print(one_hot_encoded_data)

    Emp ID    Last Name First Name     E-mail  Phone Ext  Hire Date   Age  \
0     1814     Al-Sabah      Daoud     daouda        103  04-Mar-89  30.0
1     1721      Alstain     Isolde    isoldea        102  06-Aug-90  35.0
2     1999      Atherly  Katherine     kathya        428  05-Jul-98  50.0
3     1196     Atherton      Katie     katiea        289  01-Apr-98  40.0
4     1906      Bankler     Rowena    rowenab        155  28-Sep-89  40.0
5     1792       Barton     Eileen    eileenb        111  24-Dec-90  40.0
6     1516         Bell        Tom       tomb        105  06-Mar-85  34.0
7     1284     Bellwood      Frank     frankb        124  04-Jan-85  45.0
8     1982      Berwick     Elaine   eberwick        202  03-Apr-97  34.0
9     1167      Berwick        Sam       samb        119  18-Apr-91  54.0
10    1673     Boughton      Frank  fboughton        112  25-Mar-92  55.0
11    1758       Brwyne      Melia     meliab        107  18-Mar-82  40.0
12    1990        Chang    Jessica      jessc        198  14-Feb-98  46.0
13    1290       Cooper      Linda     lindac        113  03-Jan-85  32.0
14    1966    Cortlandt    Charles   charlesc        159  13-Apr-82  33.0
15    1983      Corwick       Judy      judyc        154  28-Jun-97  48.0
16    1964      Corwick        Rob    robertc        108  17-Nov-91  55.0
17    1293     Cronwith      Brent     brentc        205  14-Sep-84  40.0
18    1672  Dixon-Waite    Sherrie   sherried        114  16-Apr-90  57.0
19    1960     Fontaine       Jean      jeanf        150  13-Nov-86  44.0
20    1975     Franklin      Larry     larryf        125  01-Mar-96  32.0
21    1056     Gonzales        Joe       joeg        121  25-Oct-79  29.0
22    1078     Hapsbuch   Kendrick  kendrickh        101  01-Apr-86  28.0
23    1152      Henders       Mark      markh        118  21-Jan-90  40.0
24    1075         Kane     Sheryl    sherylk        126  07-Aug-92  57.0
25    1509       Kegler        Pam       pamk        135  19-Jun-85  40.0
26    1529    Kellerman     Tommie       tomk        129  28-Jan-87  39.0
27    1656      Kourios       Theo      theok        149  14-Dec-87  29.0
28    1426    Lampstone       Pete      petel        128  08-Sep-77  53.0
29    1984    MacDonald    Bronwyn      bronm        204  01-Dec-97  31.0
30    1676       Miller      Janet     janetm        115  26-Oct-81  40.0
31    1995      Mivelli      Maria     mariam        198  01-Mar-98  40.0
32    1359       Morton     Norman    normanm        153  09-Aug-90  28.0
33    1931      Mueller     Ursula    ursulam        110  20-Jun-89  34.0
34    1723      Sammler       Mark      marks        145  10-Feb-78  36.0
35    1949      Sampson      Carla     carlas        147  12-Oct-81  45.0
36    1067        Scote       Gail      gails        123  20-Sep-87  56.0
37    1299      Simpson    Sandrae   sandraes        127  21-Dec-89  58.0
38    1302      Sindole      Randy     randys        139  06-Aug-84  53.0
39    1922        Smith    Barbara   barbaras        146  05-Dec-86  26.0
40    1310        Smith      Ellen     ellens        137  04-Oct-86  40.0
41    9999        Smith      Hazel     hazelg        109  03-Feb-86  33.0
42    1054        Smith     Howard    howards        148  16-Apr-91  44.0
43    1333     Szcznyck     Tadeuz    tadeuzs        122  16-Apr-90  55.0
44    1572      Tuppman  Lise-Anne  lise-annt        116  15-Jul-88  60.0
45    1329       Vuanuo      Tuome     tuomev        151  22-Feb-89  59.0
46    1368           Wu      Tammy     tammyw        132  11-Mar-83  44.0
47    1352       Ygarre       Lisa      lisay        100  18-Sep-82  33.0
48    1908       Zostoc    Melissa   melissaz        152  15-May-84  22.0
49    1290       Cooper      Linda     lindac        113  03-Jan-85  40.0
50    1078     Hapsbuch   Kendrick  kendrickh        101  01-Apr-86  66.0
51    1426    Lampstone       Pete      petel        128  08-Sep-77  22.0
52    1949      Sampson      Carla     carlas        147  12-Oct-81  33.0

    Dept_AC  Dept_AD  Dept_AT  Dept_HR  Dept_MF  Dept_MK  Dept_SA  \
0         0        0        0        1        0        0        0
1         0        0        0        1        0        0        0
2         0        0        0        1        0        0        0
3         0        0        0        1        0        0        0
4         0        0        0        0        0        0        1
5         0        0        1        0        0        0        0
6         1        0        0        0        0        0        0
7         0        0        0        0        0        1        0
8         0        0        0        0        0        0        1
9         0        0        0        0        0        0        1
10        0        1        0        0        0        0        0
11        1        0        0        0        0        0        0
12        0        0        0        0        1        0        0
13        0        1        0        0        0        0        0
14        0        0        0        0        0        0        1
15        0        0        1        0        0        0        0
16        1        0        0        0        0        0        0
17        0        0        0        1        0        0        0
18        0        0        0        0        1        0        0
19        0        0        0        0        1        0        0
20        1        0        0        0        0        0        0
21        0        0        1        0        0        0        0
22        1        0        0        0        0        0        0
23        0        1        0        0        0        0        0
24        0        1        0        0        0        0        0
25        0        0        1        0        0        0        0
26        0        0        0        0        0        1        0
27        0        0        0        0        1        0        0
28        0        0        0        0        0        0        1
29        0        0        0        0        0        0        1
30        0        0        0        0        0        1        0
31        0        0        1        0        0        0        0
32        0        0        0        0        0        0        1
33        1        0        0        0        0        0        0
34        0        0        0        0        0        1        0
35        0        0        0        0        0        0        1
36        0        0        1        0        0        0        0
37        0        0        0        0        1        0        0
38        0        0        0        0        0        1        0
39        0        0        0        0        0        0        1
40        0        0        0        0        1        0        0
41        0        0        0        0        0        0        1
42        0        0        1        0        0        0        0
43        0        0        0        1        0        0        0
44        0        0        0        0        0        0        1
45        1        0        0        0        0        0        0
46        0        1        0        0        0        0        0
47        0        0        0        0        0        0        1
48        0        0        1        0        0        0        0
49        0        1        0        0        0        0        0
50        1        0        0        0        0        0        0
51        0        0        0        0        0        0        1
52        0        0        0        0        0        0        1

    Location_Building 1  Location_Building 2  Location_Building 3
0                     0                    0                    1
1                     0                    0                    1
2                     0                    0                    1
3                     0                    0                    1
4                     0                    0                    1
5                     1                    0                    0
6                     0                    1                    0
7                     1                    0                    0
8                     0                    0                    1
9                     0                    0                    1
10                    0                    1                    0
11                    0                    1                    0
12                    1                    0                    0
13                    0                    1                    0
14                    0                    0                    1
15                    1                    0                    0
16                    0                    1                    0
17                    0                    0                    1
18                    1                    0                    0
19                    1                    0                    0
20                    0                    1                    0
21                    1                    0                    0
22                    0                    1                    0
23                    0                    1                    0
24                    0                    1                    0
25                    1                    0                    0
26                    1                    0                    0
27                    1                    0                    0
28                    0                    0                    1
29                    0                    0                    1
30                    1                    0                    0
31                    1                    0                    0
32                    0                    0                    1
33                    0                    1                    0
34                    1                    0                    0
35                    0                    0                    1
36                    1                    0                    0
37                    1                    0                    0
38                    1                    0                    0
39                    0                    0                    1
40                    1                    0                    0
41                    0                    0                    1
42                    1                    0                    0
43                    0                    0                    1
44                    0                    0                    1
45                    0                    1                    0
46                    0                    1                    0
47                    0                    0                    1
48                    1                    0                    0
49                    0                    1                    0
50                    0                    1                    0
51                    0                    0                    1
52                    0                    0                    1

In [65]:
#performing label encoding on data

from sklearn import preprocessing


label_encoder = preprocessing.LabelEncoder()

df['Location']= label_encoder.fit_transform(df['Location'])

df['Location'].unique()

array([2, 0, 1])

In [66]:
#Performing standardization

from sklearn.datasets import load_iris
from sklearn.preprocessing import StandardScaler

In [67]:
dataset = load_iris()
object= StandardScaler()
  
i_data = dataset.data
response = dataset.target
  
scale = object.fit_transform(i_data) 
print(scale)

[[-9.00681170e-01  1.01900435e+00 -1.34022653e+00 -1.31544430e+00]
 [-1.14301691e+00 -1.31979479e-01 -1.34022653e+00 -1.31544430e+00]
 [-1.38535265e+00  3.28414053e-01 -1.39706395e+00 -1.31544430e+00]
 [-1.50652052e+00  9.82172869e-02 -1.28338910e+00 -1.31544430e+00]
 [-1.02184904e+00  1.24920112e+00 -1.34022653e+00 -1.31544430e+00]
 [-5.37177559e-01  1.93979142e+00 -1.16971425e+00 -1.05217993e+00]
 [-1.50652052e+00  7.88807586e-01 -1.34022653e+00 -1.18381211e+00]
 [-1.02184904e+00  7.88807586e-01 -1.28338910e+00 -1.31544430e+00]
 [-1.74885626e+00 -3.62176246e-01 -1.34022653e+00 -1.31544430e+00]
 [-1.14301691e+00  9.82172869e-02 -1.28338910e+00 -1.44707648e+00]
 [-5.37177559e-01  1.47939788e+00 -1.28338910e+00 -1.31544430e+00]
 [-1.26418478e+00  7.88807586e-01 -1.22655167e+00 -1.31544430e+00]
 [-1.26418478e+00 -1.31979479e-01 -1.34022653e+00 -1.44707648e+00]
 [-1.87002413e+00 -1.31979479e-01 -1.51073881e+00 -1.44707648e+00]
 [-5.25060772e-02  2.16998818e+00 -1.45390138e+00 -1.31544430e+00]
 [-1.73673948e-01  3.09077525e+00 -1.28338910e+00 -1.05217993e+00]
 [-5.37177559e-01  1.93979142e+00 -1.39706395e+00 -1.05217993e+00]
 [-9.00681170e-01  1.01900435e+00 -1.34022653e+00 -1.18381211e+00]
 [-1.73673948e-01  1.70959465e+00 -1.16971425e+00 -1.18381211e+00]
 [-9.00681170e-01  1.70959465e+00 -1.28338910e+00 -1.18381211e+00]
 [-5.37177559e-01  7.88807586e-01 -1.16971425e+00 -1.31544430e+00]
 [-9.00681170e-01  1.47939788e+00 -1.28338910e+00 -1.05217993e+00]
 [-1.50652052e+00  1.24920112e+00 -1.56757623e+00 -1.31544430e+00]
 [-9.00681170e-01  5.58610819e-01 -1.16971425e+00 -9.20547742e-01]
 [-1.26418478e+00  7.88807586e-01 -1.05603939e+00 -1.31544430e+00]
 [-1.02184904e+00 -1.31979479e-01 -1.22655167e+00 -1.31544430e+00]
 [-1.02184904e+00  7.88807586e-01 -1.22655167e+00 -1.05217993e+00]
 [-7.79513300e-01  1.01900435e+00 -1.28338910e+00 -1.31544430e+00]
 [-7.79513300e-01  7.88807586e-01 -1.34022653e+00 -1.31544430e+00]
 [-1.38535265e+00  3.28414053e-01 -1.22655167e+00 -1.31544430e+00]
 [-1.26418478e+00  9.82172869e-02 -1.22655167e+00 -1.31544430e+00]
 [-5.37177559e-01  7.88807586e-01 -1.28338910e+00 -1.05217993e+00]
 [-7.79513300e-01  2.40018495e+00 -1.28338910e+00 -1.44707648e+00]
 [-4.16009689e-01  2.63038172e+00 -1.34022653e+00 -1.31544430e+00]
 [-1.14301691e+00  9.82172869e-02 -1.28338910e+00 -1.31544430e+00]
 [-1.02184904e+00  3.28414053e-01 -1.45390138e+00 -1.31544430e+00]
 [-4.16009689e-01  1.01900435e+00 -1.39706395e+00 -1.31544430e+00]
 [-1.14301691e+00  1.24920112e+00 -1.34022653e+00 -1.44707648e+00]
 [-1.74885626e+00 -1.31979479e-01 -1.39706395e+00 -1.31544430e+00]
 [-9.00681170e-01  7.88807586e-01 -1.28338910e+00 -1.31544430e+00]
 [-1.02184904e+00  1.01900435e+00 -1.39706395e+00 -1.18381211e+00]
 [-1.62768839e+00 -1.74335684e+00 -1.39706395e+00 -1.18381211e+00]
 [-1.74885626e+00  3.28414053e-01 -1.39706395e+00 -1.31544430e+00]
 [-1.02184904e+00  1.01900435e+00 -1.22655167e+00 -7.88915558e-01]
 [-9.00681170e-01  1.70959465e+00 -1.05603939e+00 -1.05217993e+00]
 [-1.26418478e+00 -1.31979479e-01 -1.34022653e+00 -1.18381211e+00]
 [-9.00681170e-01  1.70959465e+00 -1.22655167e+00 -1.31544430e+00]
 [-1.50652052e+00  3.28414053e-01 -1.34022653e+00 -1.31544430e+00]
 [-6.58345429e-01  1.47939788e+00 -1.28338910e+00 -1.31544430e+00]
 [-1.02184904e+00  5.58610819e-01 -1.34022653e+00 -1.31544430e+00]
 [ 1.40150837e+00  3.28414053e-01  5.35408562e-01  2.64141916e-01]
 [ 6.74501145e-01  3.28414053e-01  4.21733708e-01  3.95774101e-01]
 [ 1.28034050e+00  9.82172869e-02  6.49083415e-01  3.95774101e-01]
 [-4.16009689e-01 -1.74335684e+00  1.37546573e-01  1.32509732e-01]
 [ 7.95669016e-01 -5.92373012e-01  4.78571135e-01  3.95774101e-01]
 [-1.73673948e-01 -5.92373012e-01  4.21733708e-01  1.32509732e-01]
 [ 5.53333275e-01  5.58610819e-01  5.35408562e-01  5.27406285e-01]
 [-1.14301691e+00 -1.51316008e+00 -2.60315415e-01 -2.62386821e-01]
 [ 9.16836886e-01 -3.62176246e-01  4.78571135e-01  1.32509732e-01]
 [-7.79513300e-01 -8.22569778e-01  8.07091462e-02  2.64141916e-01]
 [-1.02184904e+00 -2.43394714e+00 -1.46640561e-01 -2.62386821e-01]
 [ 6.86617933e-02 -1.31979479e-01  2.51221427e-01  3.95774101e-01]
 [ 1.89829664e-01 -1.97355361e+00  1.37546573e-01 -2.62386821e-01]
 [ 3.10997534e-01 -3.62176246e-01  5.35408562e-01  2.64141916e-01]
 [-2.94841818e-01 -3.62176246e-01 -8.98031345e-02  1.32509732e-01]
 [ 1.03800476e+00  9.82172869e-02  3.64896281e-01  2.64141916e-01]
 [-2.94841818e-01 -1.31979479e-01  4.21733708e-01  3.95774101e-01]
 [-5.25060772e-02 -8.22569778e-01  1.94384000e-01 -2.62386821e-01]
 [ 4.32165405e-01 -1.97355361e+00  4.21733708e-01  3.95774101e-01]
 [-2.94841818e-01 -1.28296331e+00  8.07091462e-02 -1.30754636e-01]
 [ 6.86617933e-02  3.28414053e-01  5.92245988e-01  7.90670654e-01]
 [ 3.10997534e-01 -5.92373012e-01  1.37546573e-01  1.32509732e-01]
 [ 5.53333275e-01 -1.28296331e+00  6.49083415e-01  3.95774101e-01]
 [ 3.10997534e-01 -5.92373012e-01  5.35408562e-01  8.77547895e-04]
 [ 6.74501145e-01 -3.62176246e-01  3.08058854e-01  1.32509732e-01]
 [ 9.16836886e-01 -1.31979479e-01  3.64896281e-01  2.64141916e-01]
 [ 1.15917263e+00 -5.92373012e-01  5.92245988e-01  2.64141916e-01]
 [ 1.03800476e+00 -1.31979479e-01  7.05920842e-01  6.59038469e-01]
 [ 1.89829664e-01 -3.62176246e-01  4.21733708e-01  3.95774101e-01]
 [-1.73673948e-01 -1.05276654e+00 -1.46640561e-01 -2.62386821e-01]
 [-4.16009689e-01 -1.51316008e+00  2.38717193e-02 -1.30754636e-01]
 [-4.16009689e-01 -1.51316008e+00 -3.29657076e-02 -2.62386821e-01]
 [-5.25060772e-02 -8.22569778e-01  8.07091462e-02  8.77547895e-04]
 [ 1.89829664e-01 -8.22569778e-01  7.62758269e-01  5.27406285e-01]
 [-5.37177559e-01 -1.31979479e-01  4.21733708e-01  3.95774101e-01]
 [ 1.89829664e-01  7.88807586e-01  4.21733708e-01  5.27406285e-01]
 [ 1.03800476e+00  9.82172869e-02  5.35408562e-01  3.95774101e-01]
 [ 5.53333275e-01 -1.74335684e+00  3.64896281e-01  1.32509732e-01]
 [-2.94841818e-01 -1.31979479e-01  1.94384000e-01  1.32509732e-01]
 [-4.16009689e-01 -1.28296331e+00  1.37546573e-01  1.32509732e-01]
 [-4.16009689e-01 -1.05276654e+00  3.64896281e-01  8.77547895e-04]
 [ 3.10997534e-01 -1.31979479e-01  4.78571135e-01  2.64141916e-01]
 [-5.25060772e-02 -1.05276654e+00  1.37546573e-01  8.77547895e-04]
 [-1.02184904e+00 -1.74335684e+00 -2.60315415e-01 -2.62386821e-01]
 [-2.94841818e-01 -8.22569778e-01  2.51221427e-01  1.32509732e-01]
 [-1.73673948e-01 -1.31979479e-01  2.51221427e-01  8.77547895e-04]
 [-1.73673948e-01 -3.62176246e-01  2.51221427e-01  1.32509732e-01]
 [ 4.32165405e-01 -3.62176246e-01  3.08058854e-01  1.32509732e-01]
 [-9.00681170e-01 -1.28296331e+00 -4.30827696e-01 -1.30754636e-01]
 [-1.73673948e-01 -5.92373012e-01  1.94384000e-01  1.32509732e-01]
 [ 5.53333275e-01  5.58610819e-01  1.27429511e+00  1.71209594e+00]
 [-5.25060772e-02 -8.22569778e-01  7.62758269e-01  9.22302838e-01]
 [ 1.52267624e+00 -1.31979479e-01  1.21745768e+00  1.18556721e+00]
 [ 5.53333275e-01 -3.62176246e-01  1.04694540e+00  7.90670654e-01]
 [ 7.95669016e-01 -1.31979479e-01  1.16062026e+00  1.31719939e+00]
 [ 2.12851559e+00 -1.31979479e-01  1.61531967e+00  1.18556721e+00]
 [-1.14301691e+00 -1.28296331e+00  4.21733708e-01  6.59038469e-01]
 [ 1.76501198e+00 -3.62176246e-01  1.44480739e+00  7.90670654e-01]
 [ 1.03800476e+00 -1.28296331e+00  1.16062026e+00  7.90670654e-01]
 [ 1.64384411e+00  1.24920112e+00  1.33113254e+00  1.71209594e+00]
 [ 7.95669016e-01  3.28414053e-01  7.62758269e-01  1.05393502e+00]
 [ 6.74501145e-01 -8.22569778e-01  8.76433123e-01  9.22302838e-01]
 [ 1.15917263e+00 -1.31979479e-01  9.90107977e-01  1.18556721e+00]
 [-1.73673948e-01 -1.28296331e+00  7.05920842e-01  1.05393502e+00]
 [-5.25060772e-02 -5.92373012e-01  7.62758269e-01  1.58046376e+00]
 [ 6.74501145e-01  3.28414053e-01  8.76433123e-01  1.44883158e+00]
 [ 7.95669016e-01 -1.31979479e-01  9.90107977e-01  7.90670654e-01]
 [ 2.24968346e+00  1.70959465e+00  1.67215710e+00  1.31719939e+00]
 [ 2.24968346e+00 -1.05276654e+00  1.78583195e+00  1.44883158e+00]
 [ 1.89829664e-01 -1.97355361e+00  7.05920842e-01  3.95774101e-01]
 [ 1.28034050e+00  3.28414053e-01  1.10378283e+00  1.44883158e+00]
 [-2.94841818e-01 -5.92373012e-01  6.49083415e-01  1.05393502e+00]
 [ 2.24968346e+00 -5.92373012e-01  1.67215710e+00  1.05393502e+00]
 [ 5.53333275e-01 -8.22569778e-01  6.49083415e-01  7.90670654e-01]
 [ 1.03800476e+00  5.58610819e-01  1.10378283e+00  1.18556721e+00]
 [ 1.64384411e+00  3.28414053e-01  1.27429511e+00  7.90670654e-01]
 [ 4.32165405e-01 -5.92373012e-01  5.92245988e-01  7.90670654e-01]
 [ 3.10997534e-01 -1.31979479e-01  6.49083415e-01  7.90670654e-01]
 [ 6.74501145e-01 -5.92373012e-01  1.04694540e+00  1.18556721e+00]
 [ 1.64384411e+00 -1.31979479e-01  1.16062026e+00  5.27406285e-01]
 [ 1.88617985e+00 -5.92373012e-01  1.33113254e+00  9.22302838e-01]
 [ 2.49201920e+00  1.70959465e+00  1.50164482e+00  1.05393502e+00]
 [ 6.74501145e-01 -5.92373012e-01  1.04694540e+00  1.31719939e+00]
 [ 5.53333275e-01 -5.92373012e-01  7.62758269e-01  3.95774101e-01]
 [ 3.10997534e-01 -1.05276654e+00  1.04694540e+00  2.64141916e-01]
 [ 2.24968346e+00 -1.31979479e-01  1.33113254e+00  1.44883158e+00]
 [ 5.53333275e-01  7.88807586e-01  1.04694540e+00  1.58046376e+00]
 [ 6.74501145e-01  9.82172869e-02  9.90107977e-01  7.90670654e-01]
 [ 1.89829664e-01 -1.31979479e-01  5.92245988e-01  7.90670654e-01]
 [ 1.28034050e+00  9.82172869e-02  9.33270550e-01  1.18556721e+00]
 [ 1.03800476e+00  9.82172869e-02  1.04694540e+00  1.58046376e+00]
 [ 1.28034050e+00  9.82172869e-02  7.62758269e-01  1.44883158e+00]
 [-5.25060772e-02 -8.22569778e-01  7.62758269e-01  9.22302838e-01]
 [ 1.15917263e+00  3.28414053e-01  1.21745768e+00  1.44883158e+00]
 [ 1.03800476e+00  5.58610819e-01  1.10378283e+00  1.71209594e+00]
 [ 1.03800476e+00 -1.31979479e-01  8.19595696e-01  1.44883158e+00]
 [ 5.53333275e-01 -1.28296331e+00  7.05920842e-01  9.22302838e-01]
 [ 7.95669016e-01 -1.31979479e-01  8.19595696e-01  1.05393502e+00]
 [ 4.32165405e-01  7.88807586e-01  9.33270550e-01  1.44883158e+00]
 [ 6.86617933e-02 -1.31979479e-01  7.62758269e-01  7.90670654e-01]]

In [68]:
#Performing normalization

from sklearn import preprocessing

In [69]:
x_array = np.array([2,1,9,6,7,3,8,7,6])
normalized_arr = preprocessing.normalize([x_array])
print(normalized_arr)

[[0.11026357 0.05513178 0.49618606 0.33079071 0.38592249 0.16539535
  0.44105428 0.38592249 0.33079071]]